
function formatPrice(price) {
  return "¥" + price
}

function totalPrice(books) {
  return books.reduce(function(perValue, item) {
    return perValue + item.price
  }, 0)
}

function formatCount(playCount) {
  var count = parseInt(playCount)

  if(count > 100000000) {
    return (count/100000000).toFixed(1) + "亿"
  }else if(count >= 10000) {
    return (count/10000).toFixed(1) + "万"
  }else {
    return count
  }
}

// 前面加0
// function padLeft(time) {
//   var time = time + ""
//   if(time.length >= 2) return time
//   return "0" + time
// }

function padLeft(time) {
  var time = time + ""
  return ("00" + time).slice(time.length)
}

function formatTime(time) {
  var minute = Math.floor(time / 60)
  var second = Math.floor(time % 60)
  return padLeft(minute) + ":" + padLeft(second)
}

// 必须导出后,才能被其他地方调用,必须使用commonJS导出
module.exports = {
  formatPrice: formatPrice,
  totalPrice: totalPrice,
  formatCount: formatCount,
  formatTime: formatTime
}